.robot-table-container {
    position: relative;
    width: 786px;
    margin-top: 20px;
    margin-left: 81.01px;
}

.robot-table {
    width: 786px;
    height: auto;
    border-collapse: collapse;
}

.robot-table th {
    height: 49.73px;
}

thead.thead-dark th {
    background-color: #343a40;
    color: white;
}

.robot-image {
    margin-bottom: 0px;
}

.container img {
    display: block;
    margin: 0 auto;
    max-height: 300px;
    margin-bottom: 10px;
}


.footer {
    background-color: white;
    padding: 15px 0;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #333;
    margin-top: 20px;
}

.footer p {
    margin: 0;
}

.container-table {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}


/* lista de robots */

.unique-table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

.unique-table thead th {
    padding: 8px;
    text-align: left;
    background-color: #343a40; /* Fondo oscuro para el encabezado */
    color: white; /* Texto blanco */
}

.unique-table tbody td {
    padding: 8px;
    border: 1px solid #dee2e6; /* Bordes ligeros */
}

.unique-table tbody tr:hover {
    background-color: #f1f1f1; /* Color de fondo al pasar el cursor */
}

/* Fondo de la informacion del robot */
.robot-detail-card {
    border: 1px solid black;
    background-color: #ececec; /* Fondo gris claro */
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .robot-detail-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .robot-detail-card ul {
    list-style-type: none;
    padding: 0;
  }
  
  .robot-detail-card ul li {
    margin-bottom: 10px;
  }
  
  .robot-detail-card img {
    max-width: 150px;
    border: 0.5px solid black;
    border-radius: 0px !important;
  }  